# IDEA Files
.idea/

# Macos Files
.DS_Store

# Logs
log/

# Production Config
config/config.yaml

# Git diff
*.diff

# Coverage File
coverage.txt

# Local Deploy Docker Compose File
docker-compose.yaml
